/*CSS for dig dug page*/

/*link to colour: https://coolors.co/palette/d9ed92-b5e48c-99d98c-76c893-52b69a-34a0a4-168aad-1a759f-1e6091-184e77*/

main{
    border: 1px solid black;
    margin: 0 auto;
    width: 80vw;
    padding: 2rem;
    background-color: #99D98C;
}
header, footer, section{
    border: 1px solid black;
    margin: 10px auto;
    background-color: #99D98C;
    padding:1rem
}


body{
    background-color: #0a211e;
    font-family: sans-serif,Arial, Helvetica;
}
section#publishing,section#quote{
    background-color: #52B69A;
}

h1 { 
    border-bottom: 1px solid blue;
    }
blockquote { 
    background-color: lightgray;
    padding: 1rem;
    }

p{
    text-indent: 2em;
}

img.side {
   
}


h1,h2,h3{
    color: #1A759F;
}

a:link{
    color:#024137;
}
a:visited{
    color:#ea6be6;
}
a:focus{
    color:#e29e37;
}
a:hover{
    color:#525dd2;
}
a:active{
    color:#024137;
}

.digdugmain{
    width:30vm;
}

.anotherpic{
    display: block;
  margin-left: auto;
  margin-right: auto;
    width:50vw;
}
nav {
    display:flex;
    justify-content: center;
}
.svg-logo{
    width:15vw;
    float:right;
}