/*CSS for dig dug page*/

/*link to colour: https://coolors.co/palette/d9ed92-b5e48c-99d98c-76c893-52b69a-34a0a4-168aad-1a759f-1e6091-184e77*/

body{
    background-color: #99D98C;
    font-family: sans-serif,Arial, Helvetica;
}
section#publishing,section#quote{
    background-color: #52B69A;
}

h1 { 
    border-bottom: 1px solid blue;
    }
blockquote { 
    background-color: lightgray;
    padding: 1rem;
    }

p{
    text-indent: 2em;
}

img.side {
    float:right; margin: 0 20px;
    margin-bottom: 50px;
}

h1,h2,h3{
    color: #1A759F;
}

a:link{
    color:#024137;
}
a:visited{
    color:#D9ED92;
}
a:focus{

}
a:hover{

}
a:active{

}