/*css for spec sheet*/

/*adding colours to the sectiosn to differenciate them*/
*{
    margin: 0;
    /*outline: 1px solid red; */
    box-sizing: border-box;
}

body{
    background-color: rgb(175, 170, 170);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   /* max-width: 1200px;*/

}


#introduction{
    background-color: rgb(131, 180, 131);
    padding: 1em;
    grid-area: introduction;

    display:flex;
    flex-direction: column;
}
#introduction h1{
    font-size: 4em;
    text-decoration: underline;
    text-underline-offset: 25px;
    line-height:3em;
    letter-spacing: 2px;
}

#introduction h2{
    font-size: 3em;
    overflow-wrap: break-word;
}

#introduction div.subtitle{
    line-height: 3em;
    margin-bottom: 2em;
    width: 400px;

}

#introduction h2.part1{
    transform: translateX(200px);
}

#introduction h2.part2{
    transform: translateX(250px);
}

#introduction p.hook{
    font-size: 1.5em;
    width: 500px;*/
    padding: 20px;
    margin-bottom: 1.5em;
    transform: translateX(200px);
}

#introduction blockquote.quote{
    font-weight: bold;
    column-count: 2;
}

#introduction a{
    line-height: 2em;
    text-align: right;
    font-weight: bold;
    text-decoration: none;
}
#introduction a:link{
    color: black;
}
#introduction a:visited{
    color: rgb(181, 71, 89);
}
#introduction a:focus{
    color: orange;
}
#introduction a:hover{
    color: blue;
}
#introduction a:active{
    color: pink;
}

#sidebar.logo{
    margin: 20px 0px;
    grid-area: logo;
}

#sidebar figure{
    grid-area: figure;
    font-size: 10px;
    margin: 20px 0px;
}

#sidebar source{
    grid-area: source;
    margin: 20px 0px;
    
}

#sidebar p{
    font-size: 10px;
}

#sidebar{
    background-color: rgb(172, 242, 242);
    padding: 1em;
    grid-area: sidebar;
    text-align: right;

    max-width: 300px;

    display: grid;
    grid-row: 3fr 3fr 3fr 3fr;
    grid-template-areas: "logo"
                        "figure"
                        "."
                        "source"
                        ".";
}

div.subtext{
    font-weight: bold;
    font-size: 1.5em;
    max-width: 26rem;
    border-bottom: 10px solid black;
    padding-bottom: 1em;
    
}

#content div.col-1{
    grid-area: col-1;
}

#content div.col-2{
    grid-area: col-2;
}

#content div.col-3{
    grid-area: col-3;
}

#content div.subtext{
    grid-area: subtext;
}

#content img{
    max-width: 100%;
}
#content{
    background-color: rgb(202, 131, 131);
    padding: 2em;
    grid-area: content;

    display:grid;
    grid-column: 1fr 1fr 1fr;

    grid-template-areas: "col-1 col-2 col-3"
                        "subtext subtext col-3";

    gap: 1em;



}

#content p{
    font-size: 14px;
    margin: 5px;
}

#content img{
    margin: 5px;
}
/*
#content div.col{
    display:grid;
    grid-column: 1fr 1fr 1fr;

    
} */

#single-page{
    display: grid;
    height: 100vh;

    grid-row: 5fr 7fr;
    grid-column: 1fr 12fr;

    grid-template-areas: "sidebar introduction"
                        "sidebar content";
}
