/* It starts completely empty. I wish you luck. */

body{
    margin: 1rem;
}

/*MOBILE VERSION*/

h1.game { 
    grid-area: logo; 

    width: 500px;
    height: 345px;
    background: url(../images/tetris-logo.png) no-repeat !important;
    text-indent: -9999px;
}

ul.menu { 
    grid-area: menus;

    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

    flex-wrap: wrap;
}

#introduction {
    grid-area: intro; 
    margin: 2rem;
    max-width: 100vw;
}

#tetgrid { 
    grid-area: playground;

    display: grid;
    grid-template-columns: repeat(6, 100px);
    grid-template-rows: repeat(6, 100px);
}

footer { 
    grid-area: footer; 
}


#wrapper{
    display:grid;
    height: 100vh;

    grid-template-rows:360px auto;

    grid-template-areas:"logo" 
                        "menus" 
                        "intro" 
                        "playground"
                        "footer" ;
}


.menu a {
    display: block;
    background: gray;
    padding: 10px;
    color: white;
    text-decoration: none;
    transition: transform 0.1s ease-in;
}

.menu li {
    width: 25%;
}

@media screen and (max-width: 550px) {
	.menu li {
		width: 100%;
	}
}

.menu a:hover {
	background: red;
	color: yellow;
    transform:scale(1.1);
    background-color: 0.5s linear;
}

ul.menu ul li {
    width:100%;
}
ul.menu ul {
    display:none;
}
ul.menu li:hover ul {
    display:flex;
}

.menu .submenu li>a:hover {
    background:red;
    color:yellow;
}
.menu .submenu>a:after {
    content: "+";
    padding-left:5px;
}


#z {
    grid-column: 6/span 4;
    grid-row: 5/span 3;
    transform-origin: 0 0;
    transform: translateX(100px) rotate(90deg);
}
#o {
    grid-column: 1/3;
    grid-row: 3/span 2;
}
#i {
    grid-column: 1/-1;
    grid-row: 6/span 1;
}

#z img {
    transform-origin: 0 0;
    transform: translateX(205px) rotate(90deg);
}

#l{
    grid-column: 2;
    grid-row: 6/-1;
    transform-origin: 0 0;
    transform: translateX(205px) rotate(180deg);
    
}
#t{
    grid-column: 3/span 3;
    grid-row: 2/span 2;
    transform-origin: 0 0;
    transform: translateX(200px) rotate(90deg)
}

#s{
    grid-column: 5/span 3;
    grid-row: 3/span 2;
    transform-origin: 0 0;
    transform: translateX(200px) rotate(90deg)
} 
#j{
    grid-column: 7/span 3;
    grid-row: 4/-1;
    transform-origin: 0 0;
    transform: translateX(200px) rotate(90deg);
}

img:hover {
    transform: rotate(90deg);
}
img {
    transition-property: transform;
    transition-duration: 2s;
}



@media screen and(min-width:850px) {
    #wrapper{
    
    grid-template-columns: 1fr auto;
    grid-template-areas:"logo intro" 
                        "menus menus"  
                        "playground playground"
                        "footer footer" ;
    
            }
}