/*colour palette: https://lospec.com/palette-list/jehkoba32*/



*{
    margin: auto 0;
    font-family: "Eagle Lake", fantasy;
    font-weight: 400;
    font-style: normal;
    border-style: border-box;
    overflow: hidden;

}

#header{
   /* background-color: rgba(0, 255, 255, 0.692); */
    color:#1ba683;
    grid-area: header;
    height: 5vh;
    padding: 50px;
    text-align: center;
}
h1{
    font-size: 3em;
    font-weight: 700;
    text-shadow: 3px 3px #f0bb90;
}

#navbar{
    height: 100%;

    grid-area: navbar;
    color:#f27961;
}

#navbar div button{
    padding: 10px;
    margin: 5px;
    height: 5vh;
    width: 90%;
    height: fit-content;
    color:#f27961;
    background-color: #343473;
    border-bottom: 4px solid #7497a6;
    border-right: 5px solid #a3ccd9 ;
    overflow:visible;

}

#game-panel{
    height: 100%;

    background-color:#4f4f51;
    padding: 20px;

    grid-area: game;
    text-align: center;

    display:flex;
    flex-direction: column;
    align-items: center;
}

#game-panel p,h3{
    overflow: visible;
    order:1000;
    text-align: left;
    color: #f0bb90;
}

#footer{
    height: 5vh;
    padding: 20px;
    text-align: center;
    grid-area: footer;
    color:#1ba683;
    margin: 5px;
}

#footer p{
    margin: 30px;
}

body{
    height: 100vh;
    width: 100vw;
    display:grid;

    grid-template-columns: 2fr 10fr;
    grid-template-rows: 1fr 10fr 1fr;

    grid-template-areas: "header header"
                        "navbar game"
                        "footer footer";
    
    background-color: black;

}