*{
    margin: 0 auto;
    box-sizing: border-box;
}

body{
    background-color: #322430;
    font-family: "Modern Antiqua", serif;
}
footer p{
    color:#d9b77f;
    text-align: center;

    padding: 10px;
}
h1{
    text-align: center;
    line-height: 3em;
    letter-spacing: 3px;
    color:#d9b77f;
}

h2{
    line-height: 2em;
    letter-spacing: 2px;
    color: #536a76;
}

p{
    line-height: 1.5em;
}
#elements{
    width: 70%;
    background-color: #d4a597;

    padding:20px;

    border: 2px solid #d4a597;
    border-radius: 20px;
}

img{
    width:250px;
    border: 3px solid black;
    border-radius: 10px;
}

hr{
    width: 95%;

    border: 2px solid #536a76;
    border-radius: 10px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

#images{
    display: flex;
    padding: 20px;
}

#navbar{
    height: 100%;
    grid-area: navbar;
    color:#f27961;

    display:flex;
    justify-content: center;
}

#navbar div button{
    padding: 10px;
    margin: 5px;
    height: 5vh;
    color:#f27961;
    background-color: #343473;
    border-bottom: 4px solid #7497a6;
    border-right: 5px solid #a3ccd9 ;


}

#proposal{
    visibility: hidden;
}